<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="client_nav">
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">MAY HOTEL</a>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/rooms}">Đặt phòng</a></li>



                    <li class="nav-item dropdown">
                        <a class="nav-icon-btn dropdown-toggle p-0" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow border-0">
                            <li class="dropdown-header px-3 py-2 fw-bold text-primary border-bottom"
                                th:text="'Chào, ' + ${session.user.tenDangNhap}">User</li>
                            <li><a class="dropdown-item" th:href="@{/account/profile}"><i class="bi bi-person-vcard me-2"></i>Hồ sơ</a></li>
                            <li><a class="dropdown-item" th:href="@{/account/history}"><i class="bi bi-clock-history me-2"></i>Lịch sử đặt</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item text-danger" th:href="@{/account/logout}"><i class="bi bi-box-arrow-right me-2"></i>Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>